<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./invoice_bill.css">
</head>

<body>
    <div class="headers">
        <div class="header-container">
            <div class="header-logo">
                <img src="./images/topl_logo.png" alt="Topl Logo">
            </div>
        </div>
    </div>
    <div class="main-container">
        <p class="document">GSTIN: 24AAACT5636N1Z2 STATE: GUJARAT (24 ) CIN: U51909GJ1993PTC020217 PAN CARD NO:
            AAACT5636N</p>
        <div class="address-tax-invoice">
            <div class="bill-to">
                <p>Bill-to M/S</p>
                <p>SEVENSEAS DECO PANEL PRIVATE LIMITED</p>
                <p>Gut No -417, Vada Palghar,, Palghar,Mumbai - 421303,</p>
                <p>Maharashtra</p>
            </div>
            <div class="ship-to">
                <p>Ship-to M/S</p>
                <p>SEVENSEAS DECO PANEL</p>
                <p>Gut No -417, Vada Palghar,, Palghar,Mumbai - 421303,</p>
                <p>Maharashtra</p>
            </div>
            <div class="tax-invoice">
                <p class="tax-invoice-header">TAX INVOICE</p>
                <div class="tax-details">
                    <p class="tax-details-header">Goods Removal Date</p>
                    <p>01/04/2025</p>
                </div>
                <div class="tax-details">
                    <p class="tax-details-header">Goods Removal Date</p>
                    <p>01/04/2025</p>
                </div>
                <div class="tax-details">
                    <p class="tax-details-header">Goods Removal Date</p>
                    <p>01/04/2025</p>
                </div>
                <div class="tax-details">
                    <p class="tax-details-header">Goods Removal Date</p>
                    <p>01/04/2025</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footers"></div>
</body>

</html>